<% layout("/layouts/boilerplate") -%>

<div class="container d-flex justify-content-center align-items-start" style="padding-top: 100px; min-height: 100vh;">
  <div class="col-md-6 col-lg-4 border rounded-4 shadow-sm p-4 bg-white">
    <h2 class="mb-4 fw-semibold text-center">Log in</h2>

    <form action="/login" method="POST" novalidate class="needs-validation">
      
      <!-- Username -->
      <div class="mb-2">
        <label for="username" class="form-label fw-medium">Username</label>
        <input 
          type="text" 
          class="form-control bg-light rounded-pill border-1 p-2.5" 
          id="username" 
          name="username" 
          required
        />
      </div>

      <!-- Password -->
      <div class="position-relative mb-3">
        <input type="password" id="password" name="password" class="form-control big-light rounded-pill border-1 p-2.5"placeholder="Password" required>

        <span 
            class="position-absolute top-50 end-0 translate-middle-y me-4" 
            onclick="togglePassword()" 
            style="cursor: pointer;"
        >
        <i id="eyeIcon" class="fa-regular fa-eye"></i>
        </span>
     </div>


      <!-- Submit Button -->
      <button type="submit" class="btn w-100 text-white rounded-pill fw-semibold" style="background-color: #bb7a52;">
        Log in
      </button>

      <!-- Social Login Section -->
<div class="text-center my-4">
  <hr class="mb-4">

  <button class="btn w-100 border rounded-pill py-2 d-flex align-items-center justify-content-center gap-2 bg-white shadow-sm">
    <img 
      src="../images/Google.webp"
      alt="Google logo" 
      width="20" 
      height="20"
    />
    <span class="fw-medium text-dark">Continue with Google</span>
  </button>
</div>


      <p class="text-center text-muted mt-4">
        Don’t have an account? <a href="/signup" class="text-decoration-none fw-medium">Sign up</a>
      </p>

    </form>
  </div>
</div>




